<mat-toolbar class="container mat-elevation-z3" fxLayout="row" fxLayoutAlign="start center">

  <div class="logo" >
    <a routerLink="['/']" fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" src="/assets/avatar.png"/>
      <span class="title">Marcus Aguiar</span>
      <span class="subtitle">Software Developer</span>
    </a>
  </div>


  <span fxFlex="grow"></span>

  <span class="menu" fxLayout="row" fxLayoutGap="6px">
    <button mat-raised-button>Home</button>
    <button mat-raised-button>Portfólio</button>
    <button mat-raised-button>Contato</button>
  </span>
</mat-toolbar>
