<div class="container" fxLayout="row" fxLayout.lt-md="column"
      fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="center center" fxLayoutGap.lt-md="40px">
      <div fxFlexOrder="1">
        <p>
          Sou um programador apaixonado, que está sempre em busca de novas tecnologias :)
        </p>
      </div>
      <div fxFlexOrder="2">
        marcusaguiar.com.br
      </div>
      <div fxFlexOrder="3" fxFlexOrder.lt-md="0">
        <mat-nav-list>
          <a href="mailto:marcusaguiardev@gmail.com" target="_blank">
            <mat-list-item>
              <mat-icon>email</mat-icon>marcusaguiardev@gmail.com
            </mat-list-item>
          </a>
          <a href="https://github.com/MarcusAguiarDev" target="_blank">
            <mat-list-item>
              <mat-icon>link</mat-icon>github.com/MarcusAguiarDev
            </mat-list-item>
          </a>
          <a href="https://www.linkedin.com/in/marcusaguiardev/" target="_blank">
            <mat-list-item>
              <mat-icon>link</mat-icon>linkedin.com/in/marcusaguiardev
            </mat-list-item>
          </a>
        </mat-nav-list>
      </div>
    </div>
